%card {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: solid 0 rgba(0,0,0,0);
  border-radius: 10px;
  font-family: $averta;
  background-color: neon-color(preto-5);
  color: neon-color(branco);

  thead {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: neon-color(preto-10);

    tr {
      th {
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
      }
    }
  }

  tbody {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 20px;

    tr {
      display: flex;
      justify-content: space-between;

      td {
        padding: 10px 0;
      }
    }
  }

  tfoot {
    padding: 0 20px 20px;
    font-size: 18px;
    font-weight: bold;

    tr {
      display: flex;
      justify-content: space-between;
    }
  }
}
